
.container{
    width:60vw;
    background: #FFEFBA;
    background: linear-gradient(
      to right,
      #FFEFBA,#ddc16d
    );
   border: 2px solid brown;
}



/* CSS */
.btn-1 {
  background-color: #fbeee0;
  border: 1px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 15px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-1:hover {
  background-color: #fff;
}

.btn-1:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn-1 {
    min-width: 120px;
    padding: 0 tn-1
}
}